{% extends 'base.html.twig' %}

{% block title %}Accueil - SnowTricks
{% endblock %}

{% block content %}
	<div class="row pt-5">
		<div class="col-md-3"></div>
		<div class="col-md-9">
			<h3>Liste des figures</h3>
			<div class="row">
				{% for figure in figures %}
					<div class="col-md-4 px-5">
						<div class="card mb-4 box-shadow">
							<div class="card-header text-center">
								<img class="card-img-top" src="https://via.placeholder.com/300x200" alt="...">
							</div>
							<div class="card-body">
								<h3 class="mb-0">
									<a class="text-dark" href="#">
										<a href="#">{{ figure.title }}</a>
										<i class="fa fa-pencil bg-dark" aria-hidden="true"></i>
										<img src="{{ asset('assets/img/pencil.png') }}" class="mx-2" alt="Mon panier" height="20px">
										<i class="fa fa-trash bg-dark" aria-hidden="true"></i>
										<img src="{{ asset('assets/img/trash.png') }}" class="mx-2" alt="Mon panier" height="20px">
									</h3>
								</div>
							</div>
						</div>
					{% else %}
						<p class="text-dark">Aucune figure</p>
					{% endfor %}
				</div>
			</div>

		</div>
	{% endblock %}
