{% extends 'base.html.twig' %}

{% block title %}Modifier une Figure
{% endblock %}

{% block body %}
	<h1>Modifier une Figure</h1> {{ include('figure/_form.html.twig') }}

	<a href="{{ path('home') }}">Retour à la liste</a>
{% endblock %}
